@import url(https://db.onlinewebfonts.com/c/030bed0195cd98cd301bdd3e3a59f234?family=Link+Sans);
@import url(https://db.onlinewebfonts.com/c/8984ea7fcbebdcfe77fbbc1b86e7cfe6?family=Arial+Black);
@font-face {
  font-family: "Link Sans", 'Arial Black';
  src: url("https://db.onlinewebfonts.com/t/030bed0195cd98cd301bdd3e3a59f234.eot");
  src: url("https://db.onlinewebfonts.com/t/030bed0195cd98cd301bdd3e3a59f234.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/030bed0195cd98cd301bdd3e3a59f234.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/030bed0195cd98cd301bdd3e3a59f234.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/030bed0195cd98cd301bdd3e3a59f234.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/030bed0195cd98cd301bdd3e3a59f234.svg#Link Sans")format("svg");
}

:root {
  --red-color:#780016;
  --green-color:#254f1a;
  --white-color:#f3f3f1;
  --light-pink:#e9c0e9;
  --yellow-color:#d2e823;
  --violet-color:#502274;
  --light-violet:#8129d9;
  --gray-color:#676b5f;
  --dark-blue:#1e2330;
  --light-blue:#2665d6;
  --yellow-green:#bbbeac;
  --orange-color:#ff6c02;
  --border-color:#b69faf;
  --dark-yellow:#fdc600;
  --padding:128px;
}

/* Global Rules */
body{
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
  overflow-x: hidden;
}

p,h3 {
  margin-bottom: 0;
}

.fs-7 {
  font-size: 0.825rem;
}

.main-btn {
  font-size: 1rem;
  padding: 14px 16px 16px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

#log-in {
  border-radius: 8px;
}

#sign-up {
  background-color: var(--dark-blue);
  color: white;
}

#slider h2,
#questions h2, 
#last-section h2,
.carousel-caption h3{
  font-family: "Link Sans", "Arial Black", Arial, sans-serif;
  font-weight: 820;
  letter-spacing: -0.02em;
  line-height: 1.05;
  font-size: clamp(28px, 8vmin, 56px);
  color: var(--dark-blue);
}

.gen-link {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 19px 16px;
  border-radius: 8px;
  margin-inline-end: 5px;
}

.gen-link , .gen-link p {
  color: var(--gray-color);
}

.gen-link input{
  border: none;
  padding: 0;
  padding-inline-start: 0.25rem;
}

.gen-link input:focus {
  box-shadow: none;
}
/* Global Rules */

/* Start Header */
header {
  position: sticky;
  background-color: transparent;
  left: 0;
  top: 70px;
  z-index: 100;
  height: 0;
  opacity: 1;
  transition: opacity 0.6s ease-in;
}

header nav{
  background-color: #fff;
  margin-inline: auto;
  border-radius: 50px;
  padding: 20px 0;
}
header nav a{
  border-radius: 15px;
}

.dropdown-menu[data-bs-popper] {
  top: 165%;
  left: 0;
  margin-top: var(--bs-dropdown-spacer);
  padding: 15px;
  border-radius: 16px;
  border: transparent;
}
.dropdown-menu[data-bs-popper] .dropdown-item{
  color: var(--gray-color);
}

/* End Header */

/* Start Slider */
#slider {
  background-color:var(--white-color) ;
  padding-bottom: var(--padding);
}

#titles-carousel li h2 {
  color: var(--light-blue);
  font-size: 3.5rem;
  font-weight: bold;
}

#image-carousel .splide__slide {
  height: 400px;
  width: 400px !important;
}

#image-carousel .splide__slide .box{
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: ease all 2.3s;
  transform-origin: center center;
}

#image-carousel .splide__slide .box:hover {
  transform: rotateY(-180deg);
}

#image-carousel .splide__slide .box a{
  background-color: var(--white-color);
  color: var(--dark-blue);
  padding: 20px;
  display: block;
  width: 250px;
  border-radius: 52px;
  text-decoration: none;
}

#image-carousel .splide__slide .box .face{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-carousel .splide__slide .box .back{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

#image-carousel .splide__slide .box .front img {
  cursor: pointer;
  border-radius: 50px;
  max-width: 100%;
  height: 100%;
  padding: 5px;
  object-fit: cover;
  object-position: center;
}

.splide__arrows,
.splide__pagination {
  display: none;
}
/* End Slider */

/* Start Testimonials */
.carousel-item img {
  width: calc(100% - 440px);
  margin-inline: auto;
}

.carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  padding-top: 2rem;
  bottom: 0;
  color: var(--dark-blue);
  padding-inline: 90px;
}

.carousel-caption h3 {
  margin-block: 10px 15px;
}

.carousel-caption p {
  color: var(--gray-color);
}

.carousel-control-prev {
  left: 50% !important;
  top: 100% !important;
  transform: translateX(-100%);
}

.carousel-control-next {
  right: 50% !important;
  top: 100% !important;
  transform: translateX(100%);
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent;
  color: var(--gray-color);
  width: fit-content;
  height: fit-content;
  padding: 15px 10px;
}

.carousel-control-prev span,
.carousel-control-next span{
  background-color: var(--gray-color);
}
/* End Testimonials */

/* Start Questions */
#questions {
  padding-block: var(--padding);
  background-color: var(--red-color);
}

#questions h2{
  color: var(--light-pink);
}

#questions .accordion-item {
  margin-bottom: 15px;
  background: none;
}

#questions .accordion {
  --bs-accordion-border-color: none !important;
}

#questions .accordion-body {
  padding:20px 48px;
  background-color: #51000f;
  color: var(--light-pink);
}

#questions .accordion button {
  font-size: 1.5rem;
  background-color: #51000f;
  color: var(--light-pink);
  border: transparent;
  padding: 40px;
}

#questions button.accordion-button:focus ,
#questions .accordion-button:not(.collapsed){
  border: transparent;
  color: var(--light-pink);
  background-color: #51000f;
  box-shadow: none;
}

#questions .accordion-button::after {
  color: var(--light-pink) !important;
  background-image: none !important;
  content: '\f078';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

#questions .accordion p {
  font-size: 1.25rem;
}

/* End Questions */

/* Start Last Section */
.person-bg {
  position: absolute;
  left: -170px;
  top: 200px;
  transform: rotateZ(15deg);
}

.flower-bg {
  position: absolute;
  right: -100px;
  top: 290px;
  transform: rotateZ(-80deg);
}

.person-bg img,
.flower-bg img  {
  max-width: 100%;
}

@media (max-width:991px) {
  .person-bg {
    left: -100px;
    top: 335px;
    width: 300px;
  }

  .flower-bg {
    top: 435px;
    width: 300px;
  }
}

@media (max-width:575px) {
  .person-bg ,
  .flower-bg {
    display: none;
  }
}

#last-section {
  background-color: var(--violet-color);
  padding-block: var(--padding);
  overflow: hidden;
}

#last-section h2{
  color: var(--light-pink);
}

#last-section .log-sgin-btns {
  margin-inline-start: -20px;
}

#last-section .gen-link ~ button {
  background-color: var(--yellow-color);
}

footer {
  background-color: var(--white-color);
  padding: 64px;
  border-radius: 32px;
  position: relative;
  z-index: 50;
  margin-top: 200px;
}


footer .nav-link {
  padding-inline: 0 !important;
  color: var(--gray-color) !important;
  font-size: 13px;
}

footer .log-sgin-btns #sign-up {
  background-color: var(--yellow-color);
  color: var(--dark-blue);
}

footer .links-container a img {
  width: 100%;
  height: fit-content;
  max-width: 120px;
}

footer .links-container a:nth-child(1),
footer .links-container a:nth-child(2) {
  height: fit-content;
  width: fit-content;
  border-radius: 32px;
}
footer .links-container a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-inline-end: 5px;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--dark-blue);
  color: #fff;
}

#last-section .linktree {
  text-align: center;
  background-color: var(--light-pink);
  border-radius: 32px;
  margin-top: 40px;
}


#last-section .linktree img {
  max-width: 100%;
  width: 500px;
  padding: 20px;
}

.flags img{
  width: 100%;
  max-width: 100px;
}

.copyright {
  color: var(--light-pink);
}
/* End Last Section */